
/* Generale Style  */
*{
    /* Display */
    padding: 0;
    margin: 0;
    /* Style */
    font-family: "inter",sans-serif;
}
.goTo:hover{
    transition: 4s ease-in;
    border-bottom: 1.5px solid rgb(6, 109, 177);;
}
/* Nav Menu */

.container :hover{
    cursor: pointer;
}


.container{
    /* Display */
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0;

    /* Style */
    opacity: 1.5;
    width: 100%;
    height: 44px;
    background-color: rgba(24, 24, 24, 0.92);
    
   
}
.container ul {
    /* Display */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Style */
    list-style: none;
    color: aliceblue;
}
.container ul li{
    /* Display */
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    /* Style */
    font-size: 11px;
    opacity: 0.8;
}
#logo_icon{
    /* Display */
    background-image:url('images/apple-logo.svg');
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
#search_icon{
    /* Display */
    background-image:url('images/search-icon.svg');
    background-repeat: no-repeat;
    padding-bottom: 15px;
    background-size: 15px;
    margin-left: 10px;

}
#bag_icon{
    /* Display */
    background-image:url('images/bag-icon.svg');
    background-repeat: no-repeat;
    padding-bottom: 15px;
    background-size: 13px;
    margin-left: 10px;
}


/* image1 */
.homeImage1{
    /* Style */
    background-image: url('images/home_page1.jpg');
    background-size: auto 60.6em;
    background-position:center ;
    background-repeat: no-repeat;
    margin: top 4.4em; ;
    /* Display */

    display: flex;
    align-content: center;
    justify-content: center;
    

    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 3; */

    width: 100%;
    height: 50.2rem;

    
    padding-top: 100px;
    
}
.text{
    /* display */
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* style */
}
.headLine{
    /* Style */
    font-weight: 800;
    font-size: 45px;   
    text-decoration: none;
    color: black; 
}
.subHead{
    /* Style */
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    /* Display */
    align-self: center;
}
.goTo{
    /* Style */
    text-decoration: none;
    color: #2997ff;
    font-size: 18px;
    
    /*Display  */
    justify-self:flex-end;
}
.buy{
    align-self: flex-end;
    padding-left: 50px;
}
/* img2 */
.homeImage2{
    /* Style */

    background-color: #01012a;

    /* Display */

    background-image: url('images/holiday-logo-202211.png');
    background-size: auto 28.6em;
    background-position:center ;
    background-repeat: no-repeat;
    margin-top: 10px;

    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 50.2rem;
}
.text2{
    /* display */
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: flex-end;
    /* style */
    padding-top: 5px;
    padding-bottom: 10px;
    
}
.text2 span{
    /* Style */
    margin-left: 100px;
    
}
.headLine2{
    /* Style */
    font-weight: 800;
    font-size: 45px;   
    text-decoration: none;
    color: white; 
    /* Display */
    align-self: center;
}
.subHead2{
    /* Style */
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    /* Display */
    /* align-self: center; */
}
.gift{
    /* Display */
    margin-left: 120px;
}
/* img3 */
.homeImage3{
    /* Style */
    background-image: url('images/homeImage3.jpg');
    background-size: auto 60.6em;
    background-position:center ;
    background-repeat: no-repeat;
    margin: top 4.4em; 
    background-color: #020243;
    /* Display */

    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;

    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 3; */

    width: 100%;
    height: 50.2rem;

    
    padding-top: 100px;
}
.text3{
    /* display */
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* style */
    padding-top: 5px;
    
}
.text3 span{
    /* Style */
    margin-left: 100px;
    
}
.headLine3{
    /* Style */
    font-weight: 800;
    font-size: 45px;   
    text-decoration: none;
    color: white; 
    /* Display */
    align-self: center;
}
.subHead3{
    /* Style */
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    /* Display */
    /* align-self: center; */
}
.frts{
    margin-right: 20px;
}
.applePay{
    text-align: center;
}
#pss{
    font-size: 15px;
}
/* slider */
.slider{
    overflow: hidden;
    /* Style */
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    top: 10px;
    animation: 20s slider infinite;
}
.slider figure img{
    width: 20%;
    float: left;
   
}
@keyframes slider{
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
} 
  
/* larger menu to mobile menu transfomation */

@media screen and (max-width: 767px){
    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24,1),
        height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container{
        padding: 0;
    }
    .nav-list-larger{
        display: none;
    }
    
}